venv/
.venv
media/post_images/Zrzut_ekranu_2024-09-17_o_21.18.24_acd6V9s.png
media/post_images/Zrzut_ekranu_2024-09-17_o_21.18.24.png
media/post_images/Zrzut_ekranu_2024-09-17_o_21.18.35_CRiOwKR.png
media/post_images/Zrzut_ekranu_2024-09-17_o_21.18.35.png
media/posts/Zrzut_ekranu_2024-09-20_o_02.24.37_oSdYaRs.png
media/posts/Zrzut_ekranu_2024-09-20_o_02.24.37.png
