.main-image-container {
    width: 100%;
    height: 25vh; /* Zwiększamy wysokość kontenera */
    overflow: hidden;
    position: relative;
}

.main-image {
    width: 100%; /* Szerokość obrazu dopasowana do szerokości kontenera */
    height: auto; /* Wysokość obrazu automatycznie dopasowuje się do zachowania proporcji */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Wyśrodkowanie obrazu */
}

.navigation-buttons .row {
    margin-right: 0;
    margin-left: 0;
}

.navigation-buttons .col {
    padding-right: 0;
    padding-left: 0;
}

.custom-btn {
    margin-bottom: 10px; /* Dostosowuje odstęp między przyciskami */
    border-radius: 0; /* Usuwa zaokrąglenie krawędzi przycisku */
}

@media (min-width: 768px) {
    .custom-btn {
        margin-bottom: 15px; /* Większy odstęp na większych ekranach */
    }
}
