body {
    background-color: #fff; /* Białe tło */
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 40px;
    max-width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    font-size: 1rem;
    margin: 5px;
}

.btn-primary, .btn-secondary {
    width: 100%; /* Przycisk na całą szerokość */
    margin-bottom: 10px; /* Odstęp między przyciskami */
}

.back-btn {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #6c757d;
    border: none;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #5a6268;
}