<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moje Konto - Logowanie</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Zewnętrzny plik CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="flex flex-col min-h-screen">
    <header style="background-color: var(--button-color); padding: 10px 0;"> <!-- Zmiana koloru tła nagłówka -->
        <div class="container">
            <a href="/"><h1 class="header-title">MOTOSPEKTAKL</h1></a>
        </div>
    </header>
    <div class="main-image-container"></div>

    <div class="navigation-buttons">
        <a href="{% url 'blog' %}">BLOG</a>
        <a href="{% url 'forum' %}">FORUM</a>
        <a href="{% url 'account' %}">MOJE KONTO</a>
    </div>

    <!-- Treść logowania -->
    <div class="account-content container mt-4">
        <h1>Zaloguj się</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Adres e-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Wprowadź e-mail" name="username">
            </div>
            <div class="form-group">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </div>
        </form>
        <div class="form-group">
            <a href="{% url 'register' %}" class="btn btn-primary">Zarejestruj się</a>
        </div>
        <div class="form-group">
            <a href="{% url 'password_reset' %}" class="btn btn-link">Zapomniałem hasła</a>
        </div>
    </div>

    <div class="flex-1">
        <!-- Must be always empty -->
    </div>

    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <span>&copy; 2024 Blog Motoryzacyjny</span>
        </div>
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>