<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- Pasek nawigacyjny -->
    </header>

    <div class="container">
        <h1>{{ post.title }}</h1>
        <p>Autor: {{ post.author.username }}</p>
        <p>Data: {{ post.created_at }}</p>
        <p>{{ post.content }}</p>
    </div>

    <footer>
        <!-- Stopka -->
    </footer>
</body>
</html>