<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zmień hasło</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="flex flex-col min-h-screen">
    <header style="background-color: var(--button-color); padding: 10px 0;">
        <div class="container">
            <a href="/"><h1 class="header-title">MOTOSPEKTAKL</h1></a>
        </div>
    </header>

    <div class="main-image-container"></div>

    <div class="navigation-buttons">
        <a href="{% url 'blog' %}">BLOG</a>
        <a href="{% url 'forum' %}">FORUM</a>
        <a id="account-link" href="{% url 'account' %}">MOJE KONTO</a>
    </div>

    <div class="container mt-5">
        <h1 class="text-center text-white">Zmień hasło</h1>

        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="old_password" class="text-white">Stare hasło:</label>
                {{ form.old_password|add_class:"form-control" }}
                {% if form.old_password.errors %}
                    <div class="text-danger mt-1">
                        {{ form.old_password.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="new_password1" class="text-white">Nowe hasło:</label>
                {{ form.new_password1|add_class:"form-control" }}
                <ul class="text-white mt-2">
                    <li>Hasło nie może być zbyt podobne do innych twoich informacji osobistych.</li>
                    <li>Hasło musi zawierać co najmniej 8 znaków.</li>
                    <li>Hasło nie może być często używanym hasłem.</li>
                    <li>Hasło nie może składać się wyłącznie z cyfr.</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="new_password2" class="text-white">Potwierdź nowe hasło:</label>
                {{ form.new_password2|add_class:"form-control" }}
                {% if form.new_password2.errors %}
                    <div class="text-danger mt-1">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="btn-wrapper text-center">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-2">Wróć do edycji profilu</a>
            </div>
        </form>
    </div>

    <footer class="footer mt-auto py-3 text-center">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="social-icons">
                <a href="https://www.youtube.com" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            
            <span>&copy; 2024 Blog Motoryzacyjny</span>
            
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>