<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zmień Hasło</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="flex flex-col min-h-screen">
    <header style="background-color: var(--button-color); padding: 10px 0;">
        <div class="container">
            <a href="/"><h1 class="header-title">MOTOSPEKTAKL</h1></a>
        </div>
    </header>
    <div class="main-image-container"></div>

    <div class="navigation-buttons">
        <a href="{% url 'blog' %}">BLOG</a>
        <a href="{% url 'forum' %}">FORUM</a>
        <a id="account-link" href="{% url 'account' %}">MOJE KONTO</a>
    </div>

    <div class="container mt-4">
        <h1>Zmień hasło</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        </form>
        <a href="{% url 'edit_profile' %}" class="btn btn-secondary mt-3">Wróć do edycji profilu</a>
    </div>

    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <span>&copy; 2024 Blog Motoryzacyjny</span>
        </div>
    </footer>
</body>
</html>