{% extends 'index.html' %}

{% load static %}

<head>
    <!-- Dodanie pliku forum_styles.css tylko dla edit_thread.html -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/forum_styles.css' %}">
    {% endblock %}
</head>

{% block title %}
Edytuj wątek - Blog Motoryzacyjny
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Edytuj wątek</h2> <!-- Wyśrodkowanie nagłówka -->
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <!-- Zmiana etykiet w formularzu na polskie -->
        <div class="form-group">
            <label for="id_title">Tytuł:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="id_content">Treść:</label>
            {{ form.content }}
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary button-full">Zaktualizuj wątek</button> <!-- Zmiana klasy na btn btn-primary button-full -->
            <a href="{% url 'forum_detail' thread.id %}" class="btn btn-primary button-full" role="button">Anuluj</a> <!-- Zmiana klasy na btn btn-primary button-full -->
        </div>
    </form>
</div>
{% endblock %}