<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edytuj profil</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/account_styles.css' %}">
    <!-- FontAwesome CSS do ikon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="flex flex-col min-h-screen">
    <header style="background-color: var(--button-color); padding: 10px 0;">
        <div class="container">
            <a href="/"><h1 class="header-title">MOTOSPEKTAKL</h1></a>
        </div>
    </header>

    <div class="main-image-container"></div>

    <div class="navigation-buttons">
        <a href="{% url 'blog' %}">BLOG</a>
        <a href="{% url 'forum' %}">FORUM</a>
        <a id="account-link" href="{% url 'account' %}">MOJE KONTO</a>
    </div>

    <!-- Obsługa wiadomości -->
    {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Dodanie sekcji wyświetlania błędów formularza -->
    <div class="container mt-4">
        {% if user_form.errors or profile_form.errors %}
        <div class="alert alert-danger">
            <strong>Wystąpiły błędy w formularzu. Sprawdź swoje dane.</strong>
            <ul>
                <!-- Wyświetl błędy formularza użytkownika -->
                {% for field, errors in user_form.errors.items %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
                <!-- Wyświetl błędy formularza profilu -->
                {% for field, errors in profile_form.errors.items %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
    <div class="container mt-5">
        <h1 class="text-center text-white">Edytuj swój profil</h1>

        <!-- Formularz edycji profilu -->
        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            
            <!-- Formularz użytkownika -->
            <div class="form-group">
                <label for="username" class="text-white">Login:</label>
                {{ user_form.username|add_class:"form-control" }}
                <small class="form-text text-muted">Wymagane. Maksymalnie 150 znaków. Dozwolone są litery, cyfry oraz znaki @/./+/-/_.</small>
            </div>

            <div class="form-group">
                <label for="email" class="text-white">Adres e-mail:</label>
                {{ user_form.email|add_class:"form-control" }}
            </div>

            <!-- Formularz profilu użytkownika -->
            <div class="form-group text-center">
                <label for="profile_picture" class="text-white">Zdjęcie profilowe:</label>
                {% if profile_form.profile_picture.value %}
                    <div>
                        <img src="{{ profile_form.profile_picture.value.url }}" alt="Profilowe zdjęcie" class="img-thumbnail mb-3" style="width: 150px; height: 150px;">
                        <br>
                        <!-- Dodanie przycisku do usuwania zdjęcia -->
                        <label for="profile_picture-clear" class="text-white">
                            <input type="checkbox" name="profile_picture-clear" id="profile_picture-clear"> Usuń zdjęcie
                        </label>
                    </div>
                {% else %}
                    <p class="text-white">Brak zdjęcia profilowego</p>
                {% endif %}
                {{ profile_form.profile_picture|add_class:"form-control-file" }}
            </div>

            <div class="form-group">
                <label for="description" class="text-white">Opis użytkownika:</label>
                {{ profile_form.description|add_class:"form-control" }}
            </div>

            <div class="form-group">
                <label for="vehicle" class="text-white">Pojazd użytkownika:</label>
                {{ profile_form.vehicle|add_class:"form-control" }}
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </form>
        
        <div class="btn-wrapper text-center">
            <a href="{% url 'change_password' %}" class="btn btn-primary">Zmień hasło</a>
            <a href="{% url 'account' %}" class="btn btn-primary">Wróć do profilu</a>
        </div>
    </div>

    <footer class="footer mt-auto py-3 text-center">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Ikony po lewej stronie -->
            <div class="social-icons">
                <a href="https://www.youtube.com" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            
            <span>&copy; 2024 Blog Motoryzacyjny</span>
            
            <!-- Ikony po prawej stronie -->
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>