{% extends 'index.html' %}
{% load static %}

{% block title %}Edytuj komentarz{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Edytuj komentarz</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Zaktualizuj komentarz</button>
    </form>

    {% if comment.thread %}
        <a href="{% url 'forum_detail' comment.thread.id %}" class="btn btn-secondary mt-3">Anuluj</a>
    {% elif comment.post %}
        <a href="{% url 'blog_detail' comment.post.id %}" class="btn btn-secondary mt-3">Anuluj</a>
    {% endif %}
</div>
{% endblock %}